<section class="home">
  <div class="pic">
    <img src="profpic.jpg" alt="" />
  </div>
  <p class="about">Artist / Singer / Songwriter-translation / Musician /</p>
  <div class="title">-Michael Elifire-</div>
  <div class="title">-מיכאל אליפייר-</div>

  <div class="comingUp">
    <div class="title">-תרגומים בעבודה-</div>
    @for (item of translationsSongList; track $index) {
    <p class="item-comingUp">
      {{ item.nameSong }} / {{ item.artist }} / {{ item.fromWere }} / status: -
      <span class="status">{{ item.status }}</span> -
    </p>
    }
    <a class="title" (click)="navTo('support-artist')">-תמוך באמן-</a>
  </div>
</section>
