<section class="home">
  <div class="pic">
    <img src="profpic.jpg" alt="" />
  </div>
  <p class="about">Artist / Singer / Songwriter-translation / Musician /</p>
  <div class="title">-Michael Elifire-</div>
  <!-- ElifireAdUnits -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-4086762240008321"
    data-ad-slot="8523148039"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- END ElifireAdUnits -->
  <div class="comingUp">
    <div class="title">-Coming Up Translates-</div>
    @for (item of translationsSongList; track $index) {
    <p class="item-comingUp">
      {{ item.nameSong }} / {{ item.artist }} / {{ item.fromWere }} / status: -
      <span class="status">{{ item.status }}</span> -
    </p>
    }
    <a class="title" (click)="navTo('support-artist')">-Support Artist-</a>

    <!-- ElifireAdUnits -->
    <ins
      class="adsbygoogle"
      style="display: block"
      data-ad-client="ca-pub-4086762240008321"
      data-ad-slot="8523148039"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- END ElifireAdUnits -->
  </div>
</section>
