<section class="footer">
  <ul class="social-list">
    <li class="social social1"><img src="assets/footer-ico/1.png" alt="" /></li>
    <li class="social social2"><img src="assets/footer-ico/2.png" alt="" /></li>
    <li class="social social3"><img src="assets/footer-ico/3.png" alt="" /></li>
    <li class="social social4"><img src="assets/footer-ico/4.png" alt="" /></li>
    <li class="social social5"><img src="assets/footer-ico/5.png" alt="" /></li>
    <li class="social social6"><img src="assets/footer-ico/6.png" alt="" /></li>
  </ul>
</section>
