<section class="footer">
  <ul class="social-list">
    <a href="https://www.tiktok.com/@michaelelifire" target="_blank"
      ><li class="social social1"><img src="footer-ico/1.png" alt="" /></li
    ></a>
    <!-- <li class="social social2"><img src="footer-ico/2.png" alt="" /></li> -->
    <a href="https://api.whatsapp.com/send?phone=972524726498" target="_blank"
      ><li class="social social3"><img src="footer-ico/3.png" alt="" /></li
    ></a>
    <a href="https://www.facebook.com/MichaelElifire" target="_blank"
      ><li class="social social4"><img src="footer-ico/4.png" alt="" /></li
    ></a>
    <!-- <li class="social social5"><img src="footer-ico/5.png" alt="" /></li> -->
    <a href="https://www.instagram.com/mishaelifire/" target="_blank"
      ><li class="social social6"><img src="footer-ico/6.png" alt="" /></li
    ></a>
  </ul>
</section>
